<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="47688Quimera.47070C028F484" Version="1.0.0.0" Publisher="CN=AA6F9FC7-3176-4213-BF89-057CBCDC3A2F" />
  <Properties>
    <DisplayName>CountDown . . .</DisplayName>
    <PublisherDisplayName>Quimera</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="CountDown . . ." Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="CountDown . . . An awesome app for counting down to deadlines, events, and holidays." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="noLogos" WideLogo="images\widelogo.png" ShortName="CountDown . . ." />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>